* {
    margin: 0;
    padding: 0;
 }

 li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }
  
  img {
    max-width: auto;
    height: auto;
  }


  .beak{
    text-align: center;
    margin-top: 40px;
    font-size: 18px;
  }

  .img {
    width: 1124px;
    display: flex;
    justify-content: center;
    padding-left: 130px;
  }

  .tytle {
    text-align: center;
    margin-top: 50px;
    
  }

  .tytle1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
    
  }
   